In [16]:
import pandas as pd
import numpy as np

In [17]:
#Load the Dataset into pandas data frame.
df = pd.read_csv("iris.csv")

In [18]:
df

     SepalLenCM  SepalWidthCM  PetalLenCM  PetalWidthCM         Species
0           5.1           3.5         1.4           0.2     Iris-setosa
1           4.9           3.0         1.4           0.2     Iris-setosa
2           4.7           3.2         1.3           0.2     Iris-setosa
3           4.6           3.1         1.5           0.2     Iris-setosa
4           5.0           3.6         1.4           0.2     Iris-setosa
..          ...           ...         ...           ...             ...
145         6.7           3.0         5.2           2.3  Iris-virginica
146         6.3           2.5         5.0           1.9  Iris-virginica
147         6.5           3.0         5.2           2.0  Iris-virginica
148         6.2           3.4         5.4           2.3  Iris-virginica
149         5.9           3.0         5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [19]:
#Display information about missing values in the data
df.isnull().sum()

SepalLenCM      0
SepalWidthCM    0
PetalLenCM      0
PetalWidthCM    0
Species         0
dtype: int64

In [20]:
df.isnull().any()

SepalLenCM      False
SepalWidthCM    False
PetalLenCM      False
PetalWidthCM    False
Species         False
dtype: bool

In [21]:
#Display initial statistics.
df.describe()

       SepalLenCM  SepalWidthCM  PetalLenCM  PetalWidthCM
count  150.000000    150.000000  150.000000    150.000000
mean     5.843333      3.054000    3.758667      1.198667
std      0.828066      0.433594    1.764420      0.763161
min      4.300000      2.000000    1.000000      0.100000
25%      5.100000      2.800000    1.600000      0.300000
50%      5.800000      3.000000    4.350000      1.300000
75%      6.400000      3.300000    5.100000      1.800000
max      7.900000      4.400000    6.900000      2.500000

In [22]:
#Check the dimensions of the data frame.
df.shape

(150, 5)

In [23]:
#Summarize the types of variables by checking the data types (i.e., character,
#numeric, integer, factor, and logical) of the variables in the data set.
df.dtypes

SepalLenCM      float64
SepalWidthCM    float64
PetalLenCM      float64
PetalWidthCM    float64
Species          object
dtype: object

In [24]:
df['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [27]:
#Turn categorical variables into quantitative variables using Label Encoder
from sklearn.preprocessing import LabelEncoder

# Instantiate a LabelEncoder object
label_encoder = LabelEncoder()

df['Species'] = label_encoder.fit_transform(df['Species'])

In [28]:
df

     SepalLenCM  SepalWidthCM  PetalLenCM  PetalWidthCM  Species
0           5.1           3.5         1.4           0.2        0
1           4.9           3.0         1.4           0.2        0
2           4.7           3.2         1.3           0.2        0
3           4.6           3.1         1.5           0.2        0
4           5.0           3.6         1.4           0.2        0
..          ...           ...         ...           ...      ...
145         6.7           3.0         5.2           2.3        2
146         6.3           2.5         5.0           1.9        2
147         6.5           3.0         5.2           2.0        2
148         6.2           3.4         5.4           2.3        2
149         5.9           3.0         5.1           1.8        2

[150 rows x 5 columns]