In [3]:
import pandas as pd
import numpy as np

In [4]:
#Load the Dataset into pandas data frame.
df = pd.read_csv("iris.csv")

In [5]:
df

     SepalLenCM  SepalWidthCM  PetalLenCM  PetalWidthCM         Species
0           5.1           3.5         1.4           0.2     Iris-setosa
1           4.9           3.0         1.4           0.2     Iris-setosa
2           4.7           3.2         1.3           0.2     Iris-setosa
3           4.6           3.1         1.5           0.2     Iris-setosa
4           5.0           3.6         1.4           0.2     Iris-setosa
..          ...           ...         ...           ...             ...
145         6.7           3.0         5.2           2.3  Iris-virginica
146         6.3           2.5         5.0           1.9  Iris-virginica
147         6.5           3.0         5.2           2.0  Iris-virginica
148         6.2           3.4         5.4           2.3  Iris-virginica
149         5.9           3.0         5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [6]:
#Display information about missing values in the data
df.isnull().sum()

SepalLenCM      0
SepalWidthCM    0
PetalLenCM      0
PetalWidthCM    0
Species         0
dtype: int64

In [7]:
df.isnull().any()

SepalLenCM      False
SepalWidthCM    False
PetalLenCM      False
PetalWidthCM    False
Species         False
dtype: bool

In [8]:
#Display initial statistics.
df.describe()

       SepalLenCM  SepalWidthCM  PetalLenCM  PetalWidthCM
count  150.000000    150.000000  150.000000    150.000000
mean     5.843333      3.054000    3.758667      1.198667
std      0.828066      0.433594    1.764420      0.763161
min      4.300000      2.000000    1.000000      0.100000
25%      5.100000      2.800000    1.600000      0.300000
50%      5.800000      3.000000    4.350000      1.300000
75%      6.400000      3.300000    5.100000      1.800000
max      7.900000      4.400000    6.900000      2.500000

In [9]:
#Check the dimensions of the data frame.
df.shape

(150, 5)

In [10]:
#Summarize the types of variables by checking the data types (i.e., character,
#numeric, integer, factor, and logical) of the variables in the data set.
df.dtypes

SepalLenCM      float64
SepalWidthCM    float64
PetalLenCM      float64
PetalWidthCM    float64
Species          object
dtype: object

In [11]:
#If variables are not in the correct data type, apply proper type conversions.
df['Species'].astype(float)

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
145    2.0
146    2.0
147    2.0
148    2.0
149    2.0
Name: Species, Length: 150, dtype: float64

In [12]:
df['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [13]:
#Turn categorical variables into quantitative variables using one hot encoding

# Assuming you want to apply one-hot encoding to a column named 'category'
one_hot_encoded = pd.get_dummies(df['Species'])

In [14]:
one_hot_encoded

     Iris-setosa  Iris-versicolor  Iris-virginica
0              1                0               0
1              1                0               0
2              1                0               0
3              1                0               0
4              1                0               0
..           ...              ...             ...
145            0                0               1
146            0                0               1
147            0                0               1
148            0                0               1
149            0                0               1

[150 rows x 3 columns]

In [15]:
# Concatenate the original DataFrame with the one-hot encoded DataFrame
df_encoded = pd.concat([df, one_hot_encoded], axis=1)

In [16]:
df_encoded

,SepalLenCM,SepalWidthCM,PetalLenCM,PetalWidthCM,Species,Iris-setosa,Iris-versicolor,Iris-virginica
0,5.1,3.5,1.4,0.2,Iris-setosa,1,0,0
1,4.9,3.0,1.4,0.2,Iris-setosa,1,0,0
2,4.7,3.2,1.3,0.2,Iris-setosa,1,0,0
3,4.6,3.1,1.5,0.2,Iris-setosa,1,0,0
4,5.0,3.6,1.4,0.2,Iris-setosa,1,0,0
...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,0,0,1
146,6.3,2.5,5.0,1.9,Iris-virginica,0,0,1
147,6.5,3.0,5.2,2.0,Iris-virginica,0,0,1
148,6.2,3.4,5.4,2.3,Iris-virginica,0,0,1
149,5.9,3.0,5.1,1.8,Iris-virginica,0,0,1